@import "fonts/fonts.css";

:root {
    --bg-color: #fbfff6;
    --heart-color: #c5425b;
    --warning-bg: #ffa6825e;
    --warning-title-bg: #f0808082;
    --warning-border: #c78692;
    --note-bg: #a2dbeeb5;
    --note-title-bg: #9edaff;
    --note-border: #82b1d9;
    --main-bg: lightgrey;
    --main-border: lightgrey;
    --code-bg: #c7dda53b;
    --code-scroll-bg: #dae7d79c;
    --text-colour: #141414;
    --link-hover: darkgrey;
    --link-active: lightgrey;
    --quote: lightgrey;
    --caret: #c7dda5c4;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    width: 100%;
    height: 100vh;
    color: var(--text-colour);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-weight: bold;
    display: block;
}

header h1 {
    /* overflow: auto; */
    text-align: left;
    margin: auto;
    width: auto;
    display: flex;
    margin-left: 0.5em;
    font-size: 4em;
    padding: 0.5em 0 0.25em 0;
}

header h1 > a {
    displaY: inherit;
    text-decoration-line: none;
    color: var(--text-colour);
}

header h1 > a:hover {
    text-decoration-line: underline;
}

header h1 > a > span {
    margin: 0 0 0 0;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid var(--caret);
    letter-spacing: normal;
    animation: 
        typing 1.25s steps(30, jump-none),
        blink-caret .75s step-end infinite;
    padding-right: 0.075em;
}

/* The typing effect */
@keyframes typing {
    from { width: 0; padding-right: 0em }
    to { width: 100%; padding-right: 0.075em }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--caret); }
}

blockquote {
    border-left: 4px outset var(--quote);
}

blockquote > p {
    margin-left: 1em;
}

/**
 *
 * Main Content CSS
 *
 **/

main {
    min-width: 60%;
    max-width: 98%;
    font-size: 1.2em;
    flex: 1 0 auto;
    margin: 0 auto 5vh auto;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    main {
        width: 80%;
        /* background: red; */
    }

    nav {
        /* margin-left: 12.5%; */
        margin-right: 12.5%;
    }

    header > h1 {
        /* margin-left: 12.5%; */
        margin-right: 12.5%;
    }
}

p > a {
    color: var(--text-colour);
}

p > a:hover {
    color: var(--link-hover);
}

li > p {
    margin: 0.5em 0;
}

p > a:active {
    color: var(--link-active);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin: 2em 0 0.75em 0;
    font-weight: bold;
}

main > div > p > img {
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    image-rendering: crisp-edges;
    display: block;
    max-width: 100%;
    height: auto;
}

time {

}

code {
    background-color: var(--code-bg);
    padding: 0.02em 0.05em;
    font-family: 'FiraCode', monospace;
    border-radius: 3px;
}

pre > code {
    display: block;
    margin: 1em;
    padding: 1em;
    overflow: auto;
    white-space: pre;
}

pre > code::-webkit-scrollbar {
    height: 0.6em;
}

pre > code::-webkit-scrollbar-thumb {
    background-color: var(--code-scroll-bg);
    border-radius: 3px;
}

pre > code::-webkit-scrollbar-track {
    padding: 0 3px 3px 3px;
}

.admonition {
    border-radius: 3px;
    margin: 1em 2em;
}

.admonition-title {
    border-radius: 3px;
}

.admonition > p {
    padding: 0.5em;
    margin: 0;
}

.admonition > :not([class]) {
    padding: 1em 2em;
}

.warning {
    background-color: var(--warning-bg);
}

.warning > .admonition-title {
    background-color: var(--warning-title-bg);
    border-bottom: 2px solid var(--warning-border);
}

.note {
    background-color: var(--note-bg);
}

.note > .admonition-title {
    background-color: var(--note-title-bg);
    border-bottom: 2px solid var(--note-border);
}

a.footnote {
    vertical-align: super;
    font-size: 0.7em;
}

.footnote > p:not(.footnote-title) {
    margin: 0 0 0 1em;
}

.footnote-title {
    margin-bottom: 0;
}

.footnote-title::after {
    content: ":"
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

th {
    border-color: lightgrey;
    border-width: 0 0 1px 0;
    border-style: solid;
    padding-right: 1em;
}

 /**
  *
  * Footer CSS
  *
  */

footer {
    margin: 0 auto;
    padding: 0.5em 0;
    text-align: center;
    border-top: 2px solid var(--main-border);
    background-color: var(--code-bg);
    width: 100%;
    flex-shrink: 0;
    font-size: 0.9em;
}

footer > a {
    color: var(--text-colour);
}

footer > a:hover {
    color: var(--link-hover);
}

.heart {
    color: var(--heart-color);
}